{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-primary text-center">
    <div class="panel-heading"> <h3 class="panel-title">Liste des livres</h3> </div> 
</div>
    <table class="text-center col-lg-offset-3 col-lg-6 col-lg-offset-3"">
        <thead>
            <tr >
                <th class="text-center">Id</th>
                <th class="text-center">Titre</th>
                <th class="text-center">Auteur</th>
                <th class="text-center">Categorie</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.titre }}</td>
                <td>{{ book.auteur }}</td>
                <td>{{ book.categorie.nom }}</td>
                <td>
                    <a href="{{ path('adminbooks_show', { 'id': book.id }) }}" class="btn btn-success" role="button">Afficher</a>
                    <a href="{{ path('adminbooks_edit', { 'id': book.id }) }}" class="btn btn-warning" role="button">Editer</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td  colspan="2" class="text-center"><a href="{{ path('admincategories_index') }}" class="btn btn-primary text-center" role="button">Voir les catégories</a></td>
            <td  colspan="2" class="text-center"><a href="{{ path('adminbooks_new') }}" class="btn btn-success text-center" role="button">Ajouter un livre</a></td>
            <td  colspan="1" class="text-center"></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
